<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adams Maxwell Enterprise System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
	<div class="page-wrapper">
        <header>
            <h2>Job Detail</h2>
        </header>
		<main>
			<div class="aes-home">
                <%- include("partials/aes-menu.ejs") %>

                <section class="aes-content">

                    <form action="/home">

                        <div class="form-group">
                            <label class="form-label" for="jobno">Job Number:</label>
                            <input type="text" id="job-no" name="job-no">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="coast-pn">Coast Part:</label>
                            <input type="text" id="coast-pn" name="coast-pn">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer">Customer:</label>
                            <input type="text" id="customer" name="customer">
                        </div>
                        <br>
                        <input style="width: 150px;" type="submit" value="Search">
                    </form>

                </section>
            </div>
		</main>

        <%- include("partials/footer.ejs") %>        
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>