:root {
      --primary-color: #A6E3E9;
      --secondary-color: #CBF1F5;
      --tertiary-color: #71C9CE;
      --quaternary-color: #E3FDFD;

      --header-footer-color: var(--tertiary-color);
}

* {
    font-family: "Times New Roman", serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--header-footer-color);
    color: white;
    text-align: center;
    margin: 0px;
}

main {
    flex: 1;
    padding: 20px;
    border: 1px black solid;
}

footer {
    background-color: var(--header-footer-color);
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
